<h3>Edit your profile</h3>
<%= form_for @user do |f| %>
<div class="form">

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :address %>
<%= f.text_field :address %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :state, hint: "Abbreviate Please" %>
<%= f.text_field :state %>

</div>
<div >
<%= f.button :update, label: "Update"  %>
</div>
<% end %>