<div class="resume" ng-app="app">
	<div class="col-lg-5">
		<div>
		<ul class="unstyled">
		<li><%= current_user.first_name %> <%= current_user.last_name %></li>
		<li>website: <%= current_user.website %></li>
		<li>twitter: <%= current_user.twitter %></li>
	</ul>
	<% current_user.educations.each do |education| %>
		<h3>Education: <%= education.school %></h2>
		<%end%>


	</div>
	<%= render "shared/experiences" %>
</div>