<div class="dashboard">
<h1>Artist App</h1>

<div class="pull-left">
  <h1>profile info</h1>

</div>


<div class="pull-right">
  <h1>Call for Artists</h1>
<table class="table">
  <tr>
      <th>Deadline</th>
      <th>Project Name</th>
      <th>Project Scope</th>
      <th>Fee</th>
      <th>Prerequisite</th>
    
  </tr>
  <% @opportunity.each do |opportunity| %>
    <tr>
      <td><a href="<%= opportunity_path(opportunity.id) %>"><%= opportunity.deadline %></a></td>
      <td><%= opportunity.projectname %></td>
      <td><%= truncate opportunity.project_scope %></td>
      <td><%= opportunity.fee %></td>
      <td><%= opportunity.prereq %></td>
        
    </tr>
  <% end %>
</table>
  </div>
</div>