<div class="page-container">

  <h2>Call for Artists</h2>
<table class="table table-bordered table-hover table-striped">
  <tr>
      <th>Deadline</th>
      <th>Project Name</th>
      <th>Project Scope</th>
      <th>Fee</th>
      <th>Prerequisite</th>
    
  </tr>
  <% @opportunity.each do |opportunity| %>
    <tr>
      <td><a href="<%= opportunity_path(opportunity.id) %>"><%= opportunity.deadline %></a></td>
      <td><%= opportunity.projectname %></td>
      <td><%= truncate opportunity.project_scope %></td>
      <td><%= opportunity.fee %></td>
      <td><%= opportunity.prereq %></td>
        
    </tr>
  <% end %>
</table>
  <div class="text-right">
    <a href="<%= new_opportunity_path %>">Add a new Opportunity <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>