<h3 class="panel-title"><i class="fa fa-arrow-circle-right"></i> Add a new Call for Artists</h3>

<form role="form" class ="form">
	<div class="form-group">

	<%= simple_form_for @opportunity do |f| %>
	
		<%= f.input :projectname, label: 'Project Name' %>
		<%= f.input :project_scope, label: 'Project Scope', hint: 'copy from original link' %>
		<%= f.input :entity_name , label: 'Gallery or Host'  %>
		<%= f.input :url, label: 'link to original post' %>
		<%= f.input :fee, label: 'Submittal Fee $'%>
		<%= f.input :prereq, label: 'what are they asking for?' %>
		<%= f.input :deadline, label: 'Deadline to send submittal' %>
		<%= f.button :submit, class: "btn btn-default" %>
		<% end %>

	</div>

</form>