<div class="page-container">

  <h2>Call for Artists</h2>
<table class="table table-bordered table-hover table-striped">
  <tr>
      <th>Deadline</th>
      <th>Project Name</th>
      <th>Project Scope</th>
      <th>Fee</th>
      <th>Prerequisite</th>
    
  </tr>
 
    <tr>
      <td><%= @opportunity.deadline %></a></td>
      <td><%= @opportunity.projectname %></td>
      <td><%= @opportunity.project_scope %></td>
      <td><%= @opportunity.fee %></td>
      <td><%= @opportunity.prereq %></td>
        
    </tr>
  </table>

  </div>
</div>