

  <h2>Call for Artists</h2>
<table class="table table-bordered table-hover table-striped">
  <tr>
      <th>Deadline</th>
      <th>Project Name</th>
      <th>Project Scope</th>
      <th>Fee</th>
      <th>Prerequisite</th>
      <th>Send to</th>
    
  </tr>
 
    <tr>
      <td><%= @opportunity.deadline %></a></td>
      <td><%= @opportunity.projectname %></td>
      <td><%= @opportunity.project_scope %></td>
      <td><%= @opportunity.fee %></td>
      <td><%= @opportunity.prereq %></td>
      <td><%= @opportunity.entity_email %></td>
        
    </tr>
  </table>
<%= render "shared/deadlines" %>

  <p><a data-confirm="really? are you sure?" data-method="delete" href="/opportunities/<%= @opportunity.id %>" rel="nofollow">Delete</a></p>