<div class="resume" ng-app="app">

		<h2> <%= current_user.first_name %> <%= current_user.last_name %> </h2>
		<div class ="profile_info">
		<p> <%= current_user.email %> 
			<br>
		<%= current_user.address %>, <%= current_user.city %> <%= current_user.state %> <br>
		 <%= current_user.phone %></p>
			 <div><a href="/users/edit">edit resume header</a>
			 </div>
		</div>
<%= render "shared/educations" %>

<%= render "shared/experiences" %>
</div>

<div class = "row" colspan ="5" id="right-link" >
<a href ="/resume.pdf" target="_blank">	download resume pdf</a>

</div>
