<div class="page-container">
	<div class="resume" ng-app="app">

		<h2> <%= current_user.first_name %> <%= current_user.last_name %> </h2>
		<div class ="profile_info">
		<p> <%= current_user.email %> 
			<br>
		<%= current_user.address %>, <%= current_user.city %> <%= current_user.state %> <br>
		 <%= current_user.phone %></p>
	</div>
<%= render "shared/educations" %>

<!-- div ng-app="app">
	{{1+1}}
	</div>

 -->
 <%= render "shared/experiences" %>
</div>
</div>