<!DOCTYPE html>
<html>
<head>
  <title>Artist App</title>
  <!-- <link rel="shortcut icon" type="image/favicon.ico" href="public/favicon.ico"/> -->
<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= current_user ? '' : 'signed-out-body' %>">
    <% if current_user %>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand">Artist App</a>

                </div>

                <!-- Top Menu Items -->
                <ul class="nav navbar-left top-nav">
                    <li><%= image_tag "painting_w_logo.png", {height: 35} %></li>
                   
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <li>
                                <%=current_user.first_name %> <%=current_user.last_name %>
                            </li<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                                <li>
                                <a href="users/sign_out"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                                </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class ="artist-nav">
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <ul class="nav navbar-nav side-nav">
                    <li><a href="/opportunities"> Open Call for Artists</a></li>
                    <li class="profile"><img src="https://pbs.twimg.com/profile_images/486902468198928386/igIimndq.jpeg"></li>
                    <li><a href="/"> Profile</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/artist_statements/show">Artist Statements</a></li>
                    <li><a href="/images">Portfolio</a></li>
                    
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                            <div class="container-fluid">
                                <div class = "page-container">
                                <% flash.each do |name, message| %>
                                <%= content_tag :div, message, class: "alert alert-#{name}" %>
                                <% end %>
                                <%= yield %>
                                </div>
                            </div>
                                <!-- /.container-fluid -->
                                
                                <!-- /#page-wrapper -->
                                
                                <!-- /#wrapper -->
                                <% else %>
                            <div ng-app="app">
                                <div class = "container-fluid" id="signed-out-wrapper" >
                                <!-- <div id="page-wrapper"> -->
                                <!-- <div class="container-fluid"> -->
                                    <% flash.each do |name, message| %>
                                    <%= content_tag :div, message, class: "alert alert-#{name}" %>
                                    <% end %>
                                    <%= yield %>
                                </div>
                            </div>
                                <!-- </div> -->
                                <!-- /.container-fluid -->
                                <!-- </div> -->

                        </div>
                </div>
        <% end %>
    </div>

  



</body>
</html>
